:root {
    --primary-color: rgb(193, 197, 216);
    --secondary-color: rgb(67,88,117);
    --tertiary-color: rgb(146,203,205);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
}

/* header */
header {
    color: black;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 99;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 35px 25px 35px 25px;
    color: black;
    background-color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px 20px;
    border-radius: 25px;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
    
}
/* header end*/

/* navigation */
header nav {
    margin: 10px 0;
    padding: 50px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    color: var(--tertiary-color);
    text-decoration: underline var(--tertiary-color);
}
  
header nav ul li a:hover {
    color: var(--primary-color);
    text-decoration: underline var(--primary-color);
    border-radius: 15px;
}
/* navigation end */

/* footer */
footer {
    background-color: black;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

footer h2 {
    color: var(--tertiary-color);
    font-size: 28px;
    margin: 0;
}
/* footer end */

/* hero */
.hero {
    display: flex;
    background-image: url('../images/SvWWN.png');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: center;
    border-style: solid;
}

.hero img {
    width: 200px;
    height: 250px;
    position: relative;
    margin-top: 36px;
    margin-left: 20px;
    border-style: solid;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.subtitle {
    text-align: right;
    background: var(--tertiary-color);
    color: black;
    font-size: 32px;
    position: relative;
    margin: 220px 50px 20px 50px;
    font-weight: bold;
    padding: 20px 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-radius: 25px;
    text-decoration: none;
}

.subtitle:hover {
    opacity: 0.5;
    color: white;
}
/* hero end */

/* about me */
.section-title {
    font-size: 32px;
    border-right: 10px solid var(--secondary-color);
    padding-right: 10px;
    text-align: center;
    width: 25%;
    margin: 50px 0;
    display: flex;
    flex: initial;
    justify-content: center;
}

.about-me{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
}

.about-me p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 60px 40px;
    width: 50%;
    font-size: 22px;
}
/* about me end */

/* work */
.work {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.work h2 {
    justify-content: center;
}

.content {
    width: 60%;
    margin: 60px 20px;
}

/* table */
.table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    width: 100%;
    margin-left: 20px;
    grid-auto-flow: dense;
}

.travel-advisor {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.link {
    background-size: 80% 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0.5;
    border: solid 5px var(--tertiary-color);
}

.link:hover {
    opacity: 1;
}

.travel-advisor a {
    height: 400px;
    background-image: url(../images/screenshot.PNG);
    grid-column: 2;
    grid-row: 2;
    background-size: cover;
    opacity: 0.5;
}

.table a {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.run-buddy {
    background-image: url(../images/run-buddy-ss.PNG);
    background-size: cover;
    opacity: 0.5;
}

.run-buddy:hover {
    opacity: 1;
}

.horiseon {
    background-image: url(../images/Horiseon\ SS.PNG);
    background-size: cover;
    opacity: 0.5;
}

.horiseon:hover {
    opacity: 1;
}

.password-generator {  
    background-image: url(../images/password-generator-ss.PNG);
    background-size: cover;
    opacity: 0.5;
}

.password-generator:hover {
    opacity: 1;
}

.code-quiz {
    background-image: url(../images/code-quiz-ss.PNG);
    background-size: cover;
    opacity: 0.5;
}

.code-quiz:hover {
    opacity: 1;
}

.weather-dashboard {
    background-image: url(../images/weather-dashboard-ss.PNG);
    background-size: cover;
    opacity: 0.5;
}

.weather-dashboard:hover {
    opacity: 1;
}

.quote-forum {  
    background-image: url(../images/quotes-forum-ss.PNG);
    background-size: cover;
    opacity: 0.5;
}

.quote-forum:hover {
    opacity: 1;
}

.content h3, .content p {
    background-color: var(--tertiary-color);
    width: 100%;
}
/* work/table end */

/* contact me */
.contact-me {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}

.contact-info a {
    text-decoration: underline;
    color: black;
    font-size: 25px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}

.contact-info a:hover {
    color: var(--tertiary-color);
}
/* contact me end */

/* mediaquery */
@media screen and (max-width: 980px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
        height: 200px;
        margin: 0;
        align-items: center;
    }

    header nav {
        padding: 0;
        margin: 0;
    }

    header h1 {
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 20px 10px 0 10px;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 22px;
    }

    .hero {
        justify-content: space-around;
    }

    .link {
        opacity: 1;
    }
    
    .subtitle {
        font-size: 20px;
        position: relative;
    }

    .hero-img {
        width: 120px;
    }

    .about-me {
        font-size: 15px;
        justify-content: center;
    }

    .about-me p {
        width: 80%
    }

    .section-title {
        flex: 1 100%;
        border-bottom: solid 3px;
        border-right: none;
        text-align: center;
        padding-bottom: 10px;
    }

    .content {
        width: 100%;  
    }

    .table, .run-buddy {
        margin: 20px 0;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }

    .contact-me {
        flex-wrap: wrap;
    }

    .contact-info a {
        padding-right: 0;
        text-align: center;
        margin:0 25px;
    }
}

@media screen and (max-width: 768px) {
    header {
        text-align: center;
    }

    .subtitle{
        font-size: 20px;
    }

    .hero-img {
        width: 120px;
        margin-bottom: 25px;
    }

    .about-me {
        font-size: 15px;
        justify-content: center;
    }

    .section-title {
        flex: 1 100%;
        border-bottom: solid 3px;
        border-right: none;
        text-align: center;
        margin-bottom: 0px;
    }

    .content {
        width: 100%;  
    }

    .table, .run-buddy {
        margin: 20px 0;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }

    .contact-info a {
        padding-right: 0;
    }

}

@media screen and (max-width: 575px) {
    header {
        text-align: center;
    }

    .subtitle {
        margin: 220px 0 10px 0;
    }

    .hero {
        display: flex;
        flex-wrap: wrap;
    }

    .hero-img {
        margin-bottom: 25px;
    }

    .contact-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .section-title {
        flex: 1 100%;
        text-align: center;
    }

    .run-buddy {
        width: 100%;
        margin: 0;
    }

    .contact-info {
        width: 100%;
    }

    .table {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 25px;
        width: 100%;
        margin: 0;
        grid-auto-flow: dense;
    }
}

@media screen and (max-width: 375px) {
    .contact-info {
        margin-right: 25px;
        text-align: center;
    }

    .hero {
        height: 400px;
    }

    .hero-img {
        width: 100%;
        margin: 5px 20px 5px 0;
    }
    .subtitle {
        margin: 5px 50px 5px 50px;
    }

    .footer h2 {
        font-size: 22px;
    }
}
/* mediaquery end */